data/
GEO_submission/
output/
scripts/slurm_out/
annotations/figures/
figures/ctrl_overlay_ctrl_clust_11.pdf
figures/poly_overlay_ctrl_clust_11.pdf
figures/ctrl_overlay_ctrl_clust_16.pdf
figures/poly_overlay_ctrl_clust_16.pdf
markdown/DAseq_Gg_ctrl_*